$mainFont: 'Roboto';
$secondaryFont: 'Raleway';
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
$primary-h-color: #212121;
$primary-p-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-and-hero-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$borders-color: #afb1b8;
$hover-accent-color: #188ce8;
